<div ng-controller="AuthenticationController">
    
    <div class="breadcrumbh" id="breadcrumbh">
    	<div class="row topmargin-b">
        	<div class="col-md-2 col-md-offset-1 page-head">
            	About
            </div>
            <div class="col-md-8 b-head">
            	<a data-ui-sref="home">Home</a> / About
            </div>
    	</div>
    </div>
    
   	<div class="container">
    	<div class="row">
        	<div class="col-md-6">
         		<div class="head about-sub">
            		Who We Are
            	</div>
            	<div class="head con">
            	Biotility at University of Florida CERHB is committed to providing high-quality education and training to facilitate the professional growth of each participant. Our short-courses are attended by professionals, students preparing to enter industry careers, and researchers, all of whom seek to expand and deepen their knowledge in technical and regulatory details unique to biotechnology industries and translational research. <br><br>
 Biotility serves a central role in providing opportunities to students, employees and teachers for a hands-on laboratory experience in biotechnology. This practical experience is an essential component of our training programs and will produce graduates with not only theoretical knowledge, but also actual experience in manufacturing, laboratory techniques, regulatory affairs, and quality systems. Biotility is committed to recruiting and educating students, teachers, and incumbent and displaced workers for careers in biotechnology.
            	</div>
            </div> <!--column-->
            
            <div class="col-md-6">
            	<div class="head con">
            		<a href="http://biotility.research.ufl.edu/"><img class="center" src="modules/core/client/img/brand/logo2.png" alt="" style="width: 500px;"></a>
            	</div>
            </div> <!--column-->
            
        </div> <!--row -->
        
        <div class="head about-ssub" style="margin-top: 40px;">
        	About the BACE
        </div>
        
        <div class="head con">
        	The Biotechnician Assistant Credentialing Exam (BACE) is an industry-recognized exam designed to assess core skills and knowledge sets identified by industry, and represented within the academic and performance standards of Florida’s secondary Biotechnology program. The test has been vetted by the state’s industry organization BioFlorida, representing representing more than 3,000 companies and research organizations in the biotechnology, pharmaceuticals, medical devices and bioagriculture sectors.
            <br><br>
            The Biotechnician Assistant Credentialing Exam (BACE) is offered by Biotility at The University of Florida’s Center of Excellence for Regenerative Health Biotechnology (UF CERHB). The exam was developed to reflect competencies and skills outlined by the performance and academic standards of Florida’s secondary Industrial Biotechnology Program (#8736000), which are in turn based on Florida’s industry-described requirements necessary for this entry-level position. Students will be issued a Biotechnician Assistant credential from Biotility for successful completion of both the online and practical components of the exam. Schools may use the BACE for the end-of-program validation required by the Career and Professional Education (CAPE) Act.<br><br>
The knowledge exam can be administered by an approved proctor via a computer-based online system. The practical exam assesses technical workplace skills, and is performed at an approved Exam Site under the observation of an approved Skills Evaluator. The BACE program and procedures are covered in this manual. It is critical that that Site Coordinators, Proctors, and Skills Evaluators implement the exam procedures as described to ensure the integrity of the exam and of student outcomes.
       </div>
        
    </div> <!--container -->
        
        

<div class="text-center footer" style="margin-top: 100px;">&copy; Biotility, 2015.</div>
