<div class="header-image">
	<img src="modules/core/client/img/brand/logo2.jpg" alt="" style="width:200px;">
</div>

<div id="navbar" class="container-fluid vertical-center bg-navbar">
    <div ng-show="authentication.user" class="navbar-brand pull-right">
        Logout
    </div>
    <div ng-hide="authentication.user" class="navbar-brand pull-right">
   	 <a data-ui-sref="authentication.signin">Login</a>
    </div>
      <a ng-show="authentication.user" href="#"><img src="modules/core/client/img/user/carl.png" alt="" class="img-circle user-pic pull-right"> </a>

      <div ng-show="authentication.user.isTeacher" class="navbar-brand pull-right">
        Progress
    </div>
</div>
