<div id="navbar" ng-controller="HeaderController" class="navbar container-fluid vertical-center bg-navbar">
  <!--<span class="navbar-brand" ng-repeat="crumb in breadcrumb track by $index" ng-click="click(crumb)">
        {{crumb.name}}<span ng-hide="$index === breadcrumb.length - 1" class="glyphicon glyphicon-chevron-right"></span>
    </span>-->
    <div class="nav-img pull-left">
        <a data-ui-sref="home"><img src="modules/core/client/img/brand/logo.png" alt="" style="width: 130px;"></a>
    </div>
    <div ng-show="authentication.user" class="navbar-brand pull-right" ng-click="logout()">
        Logout
    </div>
    <!-- Profile -->
    <div ng-show="authentication.user" class="navbar-brand pull-right" ng-click="profile()">
        <div class="nav-img">
            <img ng-src="{{authentication.user.profileImageURL}}" alt="" class="img-circle user-pic">
        </div>
    </div>
    <div ng-show="authentication.user" class="navbar-brand pull-right" ng-click="profile()">
        {{authentication.user.displayName}}
    </div>
    <!-- Login -->
    <div ng-hide="authentication.user" class="navbar-brand pull-right">
        <a data-ui-sref="authentication.signin">Login</a>
    </div>
    <!-- Contact -->
    <div class="navbar-brand pull-right">
        Contact
    </div>
    <!-- About -->
    <div class="navbar-brand pull-right">
        About Us
    </div>
    <div class="navbar-brand pull-right">
        <a data-ui-sref="home">Home</a>
    </div>

   <div ng-if="shouldRender(authentication.user)" class="navbar-brand-pull-right">
    <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
        <li ui-sref-active="active">
            <a ui-sref="studentList">Student List</a>
        </li>
    </a>
</div>
</div>
