<div class="quizSelect" ng-controller="MainController">
 <div align="left">
 <p> <a href="modules/core/client/views/home.client.view.html">home</a>
 </div>

 
<div class="jumbotron text-center">
    <!--change this to show the subject name-->
    <h1>{{subject.name}}</h1>
    </div> 
<div class="row">
        <!--2 columns on the grid-->
        <div class="col-md-6">
            <!--put subject picture here along with link-->
         <a href="{{subjectquiz.html}}" class="thumbnail home-thumb">
        <img src="{{picture of subject here}}" alt="Subject Picture">
         </a>
        <h3>Take the quiz!</h3>
        </div>

          <div class="col-md-6">
            <!--put subject picture here along with link-->
         <a href="{{resourcespage.html}}" class="thumbnail home-thumb">
        <img src="resources.jpg" alt="Resources Picture">
         </a>
        <h3>Resources</h3>
        </div>
    </div>
</div>

