<div class="margin-top-50" ui-view ng-controller="SubjectController">
    <div class="header-space">
        <!-- Insert header material here -->
    </div>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>{{subject}}</h1>
        </div>
        <div class="row">
            <!--2 columns on the grid-->
            <div class="col-md-6">
                <!--put subject picture here along with link-->
                <div class="button big-btn text-center center-block">
                    <a ui-sref="quiz_sample"> <!--Made an edit here-->
                        <h1>KNOWLEDGE ASSESSMENT</h1>Click here to take quiz on select topic
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <!--put subject picture here along with link-->
                <div class="button big-btn text-center center-block">
                    <a ui-sref="subject.resources">
                        <h1>RESOURCES</h1>Click here to view resources on the select topic
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
