
@font-face {
    font-family: AwesomeFont;
    src: url(/modules/core/client/img/fonts/fontawesome-webfont.woff);
}

@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}

body{
overflow-x: hidden;	
}

.breadcrumbh{
	background: #FC252B; !important
	font-family: AwesomeFont, Verdana, Geneva, sans-serif;
	margin-bottom: 70px;
	min-width: 100%;
	display: inline-block;
}

#breadcrumbh a:link, #breadcrumbh a:visited {
	color: white;
	text-decoration: none;
}

#breadcrumbh a:hover {
	color: #464646;
	text-decoration: none;
}

#breadcrumbh a:active {
	color: white;
	text-decoration: none;
}

.page-head{
	color: white;
	font-size: 30px;
}

.b-head{
	color: #E5E5E5;
	font-size: 15px;
	margin-bottom: 70px;
	margin-top: 12px;
	text-align: right;
}

.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: white;
  cursor: inherit;
  display: block;
}
.user-profile-picture {
  min-height: 150px;
  max-height: 150px;
}

.topmargin{
	margin-top: 200px;
}

.topmargin-50{
	margin-top: 50px;
}

.topmargin-10{
	margin-top: 10px;
}

.topmargin-100{
	margin-top: 100px;
}

.topmargin-b{
	margin-top: 130px;
}

img.image-center{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.registerLink {
	font-size: 10px;
}

select.my_dropdown {
    width:100%;
}

.inputs{
	margin-bottom:10px;
}

.accounts{
	margin-right: 100px;
}

.account-pick{
	margin-left:-100px;
}

input {
	border-radius: 4px;	
}