<div ui-view class = "margin-top-50" ng-controller = "QuizController">
    <div class="header-space">
        <!-- Using this for space -->
    </div>
	<div class = "container" >
		  <div class = "col-md-10 col-md-offset-1" style = "border-style: solid;">
	      	<h1> Question is: {{arr[index].q}} </h1>
			<div class = "col-md-offset-1">
				<div class = "row">
				  <div class="radio">
				    <label><input type="radio" name="answer">{{arr[index].a1}}</label>
				  </div>
				  <div class="radio">
				    <label><input type="radio" name="answer">{{arr[index].a2}}</label>
				  </div>
				   <div class="radio">
				    <label><input type="radio" name="answer">{{arr[index].a3}}</label>
				  </div>
				  <div class="radio">
				    <label><input type="radio" name="answer">{{arr[index].a4}}</label>
				  </div>
				</div>
			</div>
			<button class = "btn" ng-click="increment()" ng-hide = "isDone">Next</button>
			<button class = "btn" ui-sref = "subject.quiz.quiz-results" ng-show = "isDone">Finish!</button>
	  	</div>
	</div>
</div>