<div ng-controller="AuthenticationController">
    
    <div class="breadcrumbh" id="breadcrumbh">
    	<div class="row topmargin-b">
        	<div class="col-md-2 col-md-offset-1 page-head">
            	Sign-up
            </div>
            <div class="col-md-8 b-head">
            	<a data-ui-sref="home">Home</a> / <a data-ui-sref="authentication.signin">Login</a> / Sign-Up
            </div>
    	</div>
    </div>
    
    <form ng-submit="signup(true)">
   		 <div class="container topmargin-50" align="center">
         	<div class="inputs">
         	<input type="text" ng-model="credentials.firstName"  placeholder="First Name" required style="height:40px;">
            </div>
            <div class="inputs">
            <input type="text" ng-model="credentials.lastName" required placeholder="Last Name" required style="height:40px;">
            </div>
            <div class="inputs">
            <input type="email" ng-model="credentials.email" required placeholder="E-mail" required style="height:40px;">
            </div>
            <div class="inputs">
            <input type="text" ng-model="credentials.userName" required placeholder="Username" required style="height:40px;">
            </div>
            <div class="inputs">
            <input type="password" ng-model="credentials.password" required placeholder="Password" required style="height:40px;">
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-2 col-md-offset-4 text-right">
                <div class="accounts">
                Account Type: 
                </div>
            </div>
            <div class="radio col-md-2 account-pick">
                <label>
                    <input type="radio" name="profiletype" value="Teacher" ng-model="credentials.profileType" required> Teacher
                </label>
                <br>
                <label>
                    <input type="radio" name="profiletype" value="Student" ng-model="credentials.profileType" required> Student
                </label>
                <br>
            </div>
        </div>
        <!-- if student -->
        <div ng-show="credentials.profileType=='Student'" class="inputs" align="center">
                <input type="text" ng-model="credentials.courseCode" required placeholder="Class Code" required style="height:40px;">
        </div>
        <!-- if teacher -->
        <div ng-show="credentials.profileType=='Teacher'">
            <div class="row">
                <div class="col-md-2 col-md-offset-4 text-right">
                    <div class="accounts">
                		Courses:
                	</div>
                </div>
                <div class="col-md-2 account-pick">
                    <select ng-model="toAdd" style="height: 30px;">
                        <option ng-repeat="name in classNames track by $index">{{name}}</option>
                    </select>
                    	<button type="button" class="btn btn-default" ng-click="add(toAdd)">
                        	+
                   		</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-3 text-right">
                    <ul class="list-inline">
                        <li ng-repeat="x in credentials.coursesTeaching track by $index">
                            <button type="button" class="btn btn-success">{{x}}</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="topmargin-10" style="text-align:center;">
            <button class="btn btn-default" type="submit">
                Register
            </button>
        </div>
    </form>
</div>

<div class="text-center footer" style="margin-top: 100px;">&copy; Biotility, 2015.</div>
