
<div ng-controller="AuthenticationController">
    <div class="breadcrumbh">
    	<div class="row topmargin-b">
        	<div class="col-md-2 col-md-offset-1 page-head">
            	Login
            </div>
            <div class="col-md-8 b-head">
            	<a data-ui-sref="home">Home</a> / Login
            </div>
    	</div>
    </div>


    <!-- username and password entry -->
    <form ng-submit="signin(true)">
        <div class="container topmargin-50">
            <div align="center">
            	<div class="inputs">
                 <input type="text" ng-model="credentials.username" placeholder="Username" required style="height:40px;">
                 </div>
                 <div class="inputs">
                 <input type="password" ng-model="credentials.password" placeholder="Password" required style="height:40px;">
                 </div>
            </div>
        </div>
        <!-- log-in button -->
        <div class="topmargin-10" style="text-align:center;">
            <!--modal-->
            <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
            <h3>Attempting to Log-in...</h3>
            </div>


    </script>
            <button type="submit" ng-click="open()" class="btn btn-default">
                Log-in
            </button>
            <div ng-show="selected">Selection from a modal: {{ selected }}</div>
        </div>
    </form>
    <!-- register link -->
    <div class="registerLink topmargin-10" style="text-align:center;">
        <a data-ui-sref="authentication.signup">Don't have an account? Click here to register.</a>
    </div>
</div>


 <div class="text-center footer" style="margin-top: 100px;">&copy; Biotility, 2015.</div>
