<div ng-controller="AuthenticationController">
        <div class="row">
        	<div class="col-md-2 col-md-offset-3 text-right">
            	<p>First Name: </p>
            </div>
            <div class = "col-md-2">
            	<input type="text" ng-model="firstName">
            </div>
        </div>
        
        <div class = "row">
        	<div class="col-md-2 col-md-offset-3 text-right">
            	<p>Last Name: </p>
            </div>
            <div class = "col-md-2">
            	<input type="text" ng-model="lastName">
            </div>
        </div>
        
        <div class = "row">
        	<div class="col-md-2 col-md-offset-3 text-right">
            	<p>E-mail: </p>
            </div>
            <div class = "col-md-2">
            	<input type="email" ng-model="email">
            </div>
        </div>
        
        <div class = "row">
        	<div class="col-md-2 col-md-offset-3 text-right">
            	<p>Account Type: </p>
            </div>
            <div class = "col-md-2">
                  <label>
                    <input type="radio" ng-model="type" value="Teacher">
                    Teacher
                  </label><br/>
                  <label>
                    <input type="radio" ng-model="type" value="Student">
                    Student
                  </label><br/>
            </div>
            
        </div>
        
        <!-- if student -->
         <div class = "row" ng-show="type=='Student'">
        	<div class="col-md-2 col-md-offset-3 text-right">
            	<p>Class Code: </p>
            </div>
            <div class = "col-md-2">
            	<input type="text" ng-model="classCode">
            </div>
        </div>
        
        <!-- if teacher -->
        <div class = "row" ng-show="type=='Teacher'">
        	<div class="col-md-2 col-md-offset-3 text-right">
            	<p>Courses: </p>
            </div>
            <div class = "col-md-2">
                <div ng-repeat = "course in courses">
                <select>
                	  <option selected disabled>Select Course</option>
                      <option value="class1">Class 1</option>
                      <option value="class2">Class 2</option>
                      <option value="class3">Class 3</option>
                      <option value="class4">Class 4</option>
                 </select>
                 </div>
                 <button type="button" class="btn btn-default" ng-click = "courses.push({})">
       				 +
    			</button>
            </div>

        </div>
        

    
    <!-- log-in button -->
    <div class="topmargin-10" style="text-align:center;">
    	<a class="btn btn-default" href="">
       	 	Register
    	</a>
    </div>

    
</div>
