
@font-face {
    font-family: AwesomeFont;
    src: url(/modules/core/client/img/fonts/fontawesome-webfont.woff);
}

/*----header----*/
.navbar {
    height: 75px;
}
.top-bar {
	min-width: 100%;
	background-color: white;
}
.nav-img{
	padding-top: 8px;
	padding-left: 50px;
}

.header-image{
	padding-bottom: 10px;
	padding-left: 30px;
	padding-top: 10px;
}
.glyphicon-chevron-right {
	margin-left: 12px;
}
.navbar-brand{
	font-family: AwesomeFont, Verdana, Geneva, sans-serif;
	font-size: 15px;
	padding-right: 20px;
	cursor: pointer;
	margin-top: 10px;
}
.navbar-brand>span {
	color: white;
}
#navbar a:link, #navbar a:visited {
	color: #959595;
	text-decoration: none;
}

#navbar a:hover {
	color: white;
	text-decoration: none;
}

#navbar a:active {
	color: #464646;
	text-decoration: none;
}

.top-span>.vertical-center {
    top: 40% !important;
}

.bg-navbar{
	margin-top: 0px;
	height: 75px;
	background-color: #242424;
	color:white;
}
.header-text {
	font-size: 30px;
	margin-top: 30px;
}
.vertical-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.content-main{
    background: white;
    height: 100%;
}

.user-pic {
	margin-top: 5px;
    height: 40px;
    width: 40px;
	
}
.logo {
    width: 30%;
    height: 60%;
    margin-right: 50%;
}

.container>h6 {
    font-size: 66px;
    text-align: center;
    text-shadow: 1px 1px 8px grey;
}


.margin-top-75 {
    margin-top: 75px;
}

.subjects{
background: #EFEFEF	;
}

.so{
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#subject-box {
	background: white;
    padding: 10px;
    text-align: center;
	border: solid;
	border-color: #E5E5E5;
	border-width: 1px;
	border-radius: 10px;
}

#overlay {
	  background:rgba(255,255,255,.5);
      opacity:1;
      -webkit-transition: opacity .25s ease;
		-moz-transition: opacity .25s ease;
}

#subject-box:hover #overlay {
               opacity:.2;
}


.thumbnail.prequiz-thumb {
    height: 361px;
    width: 638px;
}

.text-center {
    text-align: center;
}

.button {
    background-color: #000000;
    color: grey;
    padding: 10px;
    border-radius: 15px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.big-btn {
    width: 361px;
    height: 250px;
}

.big-btn > a:hover {
    text-decoration: none;
    color: white;
}
.big-btn > a {
    color: inherit;
}

.main-head{
	background-color: #BBB;
	border-radius: 25px;
	padding: 40px;
}

.head{
	font-family: AwesomeFont, Verdana, sans-serif;
}

.m{
	font-size: 40px;
	color: white;
	margin-left: 100px;
	margin-top: -300px;
	margin-bottom: 4px;
	text-shadow: 2px 2px 5px #787878;
}

.red{
color: #FDC8C1;	
}

.mh{
	font-size: 15px;
	font-color: white;
	margin-left: 100px;
	margin-bottom: 200px;
	color: white;
	text-shadow: 1px 1px 8px #787878;
	
}

.sh{
	font-size: 30px;
	margin-bottom: 20px;
	color: #11023C;
	margin-left: 50px;
}

.shh{
	margin-top: 12px;
	margin-bottom: 5px;
	font-size: 15px;
	color: black;
}


.footer{
	padding-top: 42px;
	padding-bottom: 30px;
	background: #252525;
	color: #B9B9B9;
}
