@font-face {
  font-family: AwesomeFont;
  src: url('/modules/core/client/img/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
        url('/modules/core/client/img/fonts/fontawesome-webfont.woff') format('woff'),
        url('/modules/core/client/img/fonts/fontawesome-webfont.ttf')  format('truetype'),
        url('/modules/core/client/img/fonts/fontawesome-webfont.svg#svgFontName') format('svg');
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
[ui-view].ng-enter {
  opacity: 0;
}
[ui-view].ng-enter-active {
  opacity: 1;
}
[ui-view].ng-leave {
  opacity: 1;
}
[ui-view].ng-leave-active {
  opacity: 0;
}

/*----header----*/

body {
  font-family: AwesomeFont, Verdana, Geneva, sans-serif;
}
.navbar {
  height: 75px;
}
.nav-img {
  margin-top: 2px;
  padding: 0;
}
.navbar-brand >.nav-img {
  margin-top: -10px;
}
.top-bar {
  min-width: 100%;
  background-color: white;
}
.glyphicon-chevron-right {
  margin-left: 12px;
}
.carousel.slide {
  box-shadow: 2px 2px 10px black;
}
.carousel-indicators>li {
  box-shadow: 1px 1px 6px black;
}

/* MAIN PAGE BUTTONS */

.hover-box {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.center-block.center-button {
  border: 2px solid #252525;
  font-size: 24px;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  padding: 15px;
  width: 70%;
  cursor: pointer;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
}
.center-block.center-button:hover {
  background: #252525;
  color: white;
}
.navbar-brand {
  font-size: 15px;
  padding-right: 20px;
  cursor: pointer;
  margin-top: 10px;
}
.navbar-brand>span {
  color: white;
}
.navbar a:link, .navbar a:visited {
  color: #959595;
  text-decoration: none;
}
.navbar a:hover {
  color: white;
  text-decoration: none;
}
.navbar a:active {
  color: #464646;
  text-decoration: none;
}
.top-span>.vertical-center {
  top: 40% !important;
}
.bg-navbar {
  margin-top: 0;
  height: 75px;
  background-color: #242424;
  color: white;
}
.header-text {
  font-size: 30px;
  margin-top: 30px;
}
.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.content-main {
  background: white;
  height: 100%;
}
.user-pic {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.logo {
  width: 30%;
  height: 60%;
  margin-right: 50%;
}
.container>h6 {
  font-size: 66px;
  text-align: center;
  text-shadow: 1px 1px 8px grey;
}
.margin-top-75 {
  margin-top: 75px;
}
.subjects {
  background: #EFEFEF;
}
.hovereffect {
  opacity: 1.0 !important;
  background: rgb(0, 0, 0);
  background: rgba(255, 255, 255, .7);
}
.under {
  position: relative;
  z-index: 9;
  padding: 10px;
  text-align: center;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  margin: 10px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
}
.thumbnail.prequiz-thumb {
  height: 361px;
  width: 638px;
}
.text-center {
  text-align: center;
}
.button {
  background-color: #000000;
  color: grey;
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 15px;
}
.caption {
  font-size: 14px;
}
.big-btn {
  width: 361px;
  height: 250px;
}
.big-btn > a:hover {
  text-decoration: none;
  color: white;
}
.big-btn > a {
  color: inherit;
}
.main-head {
  background-color: #BBB;
  border-radius: 25px;
  padding: 40px;
}
.m {
  font-size: 40px;
  color: white;
  margin-left: 100px;
  margin-top: -300px;
  margin-bottom: 4px;
  text-shadow: 2px 2px 5px #787878;
}
.red {
  color: #FDC8C1;
}
.mh {
  font-size: 15px;
  font-color: white;
  margin-left: 100px;
  margin-bottom: 200px;
  color: white;
  text-shadow: 1px 1px 8px #787878;
}
.sh {
  font-size: 30px;
  margin-bottom: 20px;
  color: #11023C;
  margin-left: 50px;
}
.about-sub {
  font-size: 25px;
  margin-bottom: 20px;
  color: #11023C;
}
.about-ssub {
  font-size: 20px;
  margin-bottom: 20px;
  color: #11023C;
}
.con {
  font-size: 12px;
  color: black;
  margin-bottom: 10px;
}
.footer {
  padding-top: 42px;
  padding-bottom: 30px;
  background: #252525;
  color: #B9B9B9;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto
}
img.circle {
  border-radius: 50%;
}
img.bord {
  border: solid;
  border-color: #D4D4D4;
  border-width: 4px;
}
.contact {
  font-size: 25px;
  margin-bottom: 20px;
  color: #11023C;
  text-align: center;
}
.contact-name {
  font-size: 12px;
  color: black;
  text-align: center;
}
.bold {
  font-weight: bold;
}
img.resource {
  float: right;
  margin: 0 0 30px 30px;
  border-radius: 5px;
}

ul.navbar-nav{
margin-top: -15px;
margin-right: -8px;
}
ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}
.res-sub {
  font-size: 20px;
  margin-bottom: 20px;
  color: #FF2F2F;
  padding-left: 40px;
}
