body {
    background: rgba(162, 161, 157, 0.6);
}
.navbar {
	height: 75px;
}
.top-span>.vertical-center {
	 top: 40% !important;
}
.vertical-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.user-pic {
	height: 50px;
	width: 50px;
	margin-right: 10px;
}
.logo {
    width: 30%;
    height: 60%;
    margin-right: 50%;
}

.container>h6 {
    font-size: 66px;
    text-align: center;
    text-shadow: 1px 1px 8px grey;
}

.top-span {
    background: white;
    height: 750px;
    margin-bottom: 30px;
    text-align: center;
}

.content {
    margin-top: 50px;
}

.subject-box {
    padding: 10px;
    text-align: center;
}

.thumbnail.subject-img {
    box-shadow: 1px 1px 8px black;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.thumbnail.subject-img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
